<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>منصة التزام طريف</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon.png">
    <!-- Custom Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/lib/limonte-sweetalert2/sweetalert2.css" rel="stylesheet" />
    <link href="~/lib/limonte-sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/plugins/select2/css/select2.min.css" rel="stylesheet" />
  
    <link href="~/css/custom.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Cairo:wght@200&family=Cinzel+Decorative&family=Dancing+Script&family=Noto+Sans+JP&family=Raleway:wght@100;300&family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet" />
</head>

<body>
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="/">
                    <b class="logo-abbr"><img src="/images/logo.png" alt=""> </b>
                   <span class="logo-compact"><img src="/images/logo-compact.png" alt=""></span>
                    <span class="brand-title">
                        @*<img src="/images/logo-text.png" alt="">*@
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content clearfix">

                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                <div class="header-left">
                    <div class="input-group icons">
                        <div class="input-group-prepend">
                            @*                            <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                            *@
                        </div>
                        @*                        <input type="search" class="form-control" placeholder="Search Dashboard" aria-label="Search Dashboard">
                        *@                        <div class="drop-down   d-md-none">
                            @* <form action="#">
                            <input type="text" class="form-control" placeholder="Search">
                            </form>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="active">
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-speedometer menu-icon"></i><span class="nav-text">لوحة البيانات</span>
                        </a>
                        @*                        <ul aria-expanded="false">
                        <li><a href="/Employees/RegisterEmployee">تسجيل موظف</a></li>
                        </ul>*@
                        <ul aria-expanded="false">
                            <li><a href="/Employees/EmployeesView">معلومات الموظف الحالية</a></li>
                        </ul>
                        @*                        <ul aria-expanded="false">
                        <li><a href="/Employees/RegisterEmployeeQualification">تسجيل مؤهل للموظف</a></li>
                        </ul> *@
                        <ul aria-expanded="false">
                            <li><a href="/Employees/EmployeesQualificationsView">معلومات المؤهلات</a></li>
                        </ul>
                        @*                        <ul aria-expanded="false">
                        <li><a href="/Employees/RegisterEmployeeVacation">تسجيل اجازة موظف</a></li>
                        </ul>*@
                        <ul aria-expanded="false">
                            <li><a href="/Employees/EmployeesVacationsView">معلومات الاجازات</a></li>
                        </ul>
                        @*                        <ul aria-expanded="false">
                        <li><a href="/Employees/RegisterEmployeePayment">تسجيل مدفوعات للموظف</a></li>
                        </ul> *@
                        <ul aria-expanded="false">
                            <li><a href="/Employees/EmployeesPaysView">معلومات مسيرات الرواتب</a></li>
                        </ul>
                        @*                        <ul aria-expanded="false">
                        <li><a href="/Employees/RegisterEmployeeAppraisal">تسجيل توصية للموظفين</a></li>
                        </ul>*@
                        <ul aria-expanded="false">
                            <li><a href="/Employees/EmployeesAppraisalsView">معلومات تقييم الاداء</a></li>
                        </ul>
                        @*                        <ul aria-expanded="false">
                        <li><a href="/Employees/RegisterEmployeeHistorical">تسجيل تاريخ للموظف</a></li>
                        </ul>*@
                        <ul aria-expanded="false">
                            <li><a href="/Employees/EmployeeHistoricalView">معلومات الموظف التاريخية</a></li>
                        </ul>
                        @*                        <ul aria-expanded="false">
                        <li><a href="/Employees/RegisterJob">تسجيل وظيفة</a></li>
                        </ul>*@
                        <ul aria-expanded="false">
                            <li><a href="/Employees/JobView">عرض الوظائف</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

@*            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                    </ol>
                </div>
            </div>*@
            <!-- row -->

            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-validation">
                                    @RenderBody()
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer row justify-content-end">
            <div class="copyright col-lg-9">
                <p>Copyright &copy; Designed & Developed by Barmaj 2023</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->
    <!--**********************************
        Scripts
    ***********************************-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/plugins/common/common.min.js"></script>
    <script src="~/js/custom.min.js"></script>
    <script src="~/js/settings.js"></script>
    <script src="~/js/gleek.js"></script>
    <script src="~/js/styleSwitcher.js"></script>

    <script src="~/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/lib/limonte-sweetalert2/sweetalert2.all.js"></script>
    <script src="~/lib/limonte-sweetalert2/sweetalert2.all.min.js"></script>
    <script src="~/lib/limonte-sweetalert2/sweetalert2.js"></script>
    <script src="~/lib/limonte-sweetalert2/sweetalert2.min.js"></script>
    @RenderSection("Scripts",false)
</body>

</html>