@{
    ViewData["Title"] = "Home Page";
    Layout = "/Views/Shared/DataTableLayout.cshtml";
}
<div class="card-body">
    <div class="row justify-content-between">
        <div class="col-lg-6">
    <h4 class="card-title data-title">إرسال البيانات لخدمة إلتزام</h4>
    </div>
    <div class="col-lg-6">
            <a href="/Employees/RegisterEmployeeQualification"><input type="button" id="btnRegisterEmployeeQualification" class="btn btn-register" value="إضافة سجل جديد" /></a>
    </div>
    </div>

    <div class="row justify-content-between ">
        <div class=" col-lg-6 mb-lg-5 ">
            <input type="file" id="sheet" class="form-control-file ">
        </div>
        <div class="col-lg-2">
            <input type="submit" id="upload" onclick="SubmitSheet()" class=" btn btn-upload form-control" value="رفع جدول البيانات" />
        </div>
        </div>
        
        <div class="row">
        <div class="col-lg-4 d-flex  flex-row justify-content-between">
           
             <input type="submit" id="uploadtoservice" onclick="sendToService()" class="form-control btn send-des" value="إرسال سجلات محدده">
            <input type="submit" id="uploadAllDatatoservice" onclick="sendAllDataToService()" class="form-control btn send-all" value="إرسال جميع البيانات">
            <input type="submit" onclick="BulkDelete()" class="form-control btn btn-danger" value=" حذف البيانات">
        </div>
        </div>
       
    </div>
</div>

<table class="table table-striped table-bordered" id="employeeData">
    <thead>
        <tr>
            <th>الاسم</th>
            <th>رمز المؤهل</th>
            <th>رمز التخصص</th>
            <th>اسم الجامعة</th>
            <th>وضع المؤهل</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
@section Scripts{
    <script src="~/viewsscripts/EmployeesQualificationsView.js"></script>
}