@using System.Globalization;
@{
    ViewData["Title"] = "Home Page";
    Layout = "/Views/Shared/FromLayout.cshtml";
}
@{
    HijriCalendar hijri = new HijriCalendar();
    var year = hijri.GetYear(DateTime.Now);

}
<input type="text" id="year" value="@year" hidden />
<form class="form-valide" action="#" method="post">

    <div class="form-group row justify-content-start">

        <div class="col-lg-4 d-flex flex-row">
            <span style="color:red">*</span><select class="form-control select2Class" id="employees" name="val-skill" required>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-4 d-flex flex-row">
            <span style="color:red">*</span><select class="form-control select2Class" id="startday" name="val-skill" required>
                <option value="">اختر يوم   بداية التقييم </option>
            </select>
        </div>
        <div class="col-lg-4 d-flex flex-row">
            <span style="color:red">*</span><select class="form-control select2Class" id="startyear" name="val-skill" required>
                <option value="">اختر سنة   بداية التقييم </option>

                @for (int i = 1300; i <= year; i++)
                {
                    <option value="@i">  @i </option>
                }
            </select>
        </div>
        <div class="col-lg-4 d-flex flex-row">
            <span style="color:red">*</span><select class="form-control select2Class" onchange="renderDate('startday', 'startmonth')" id="startmonth" name="val-skill" required>
                <option value=""> اختر شهر بداية التقييم</option>
                <option value="01">محرم</option>
                <option value="02">صفر</option>
                <option value="03">ربيع الأول</option>
                <option value="04">	ربيع الآخر	</option>
                <option value="05">جمادى الأولى</option>
                <option value="06">جمادى الآخرة	</option>
                <option value="07">رجب</option>
                <option value="08">شعبان</option>
                <option value="09">رمضان</option>
                <option value="10">شوال</option>
                <option value="11">ذو القعدة	</option>
                <option value="12">ذو الحجة		</option>
            </select>
        </div>
        <div class="col-lg-4 d-flex flex-row">
            <span style="color:red">*</span><select class="form-control select2Class" id="endday" name="val-skill" required>
                <option value="">اختر يوم   نهاية التقييم </option>
            </select>
        </div>
        <div class="col-lg-4 d-flex flex-row">
            <span style="color:red">*</span><select class="form-control select2Class" id="endyear" name="val-skill" required>
                <option value="">اختر سنة    نهاية التقييم </option>

                @for (int i = 1300; i <= year; i++)
                {
                    <option value="@i">  @i </option>
                }
            </select>
        </div>
        <div class="col-lg-4 d-flex flex-row">
            <span style="color:red">*</span><select class="form-control select2Class" onchange="renderDate('endday', 'endmonth')" id="endmonth" name="val-skill" required>
                <option value=""> اختر شهر نهاية التقييم</option>
                <option value="01">محرم</option>
                <option value="02">صفر</option>
                <option value="03">ربيع الأول</option>
                <option value="04">	ربيع الآخر	</option>
                <option value="05">جمادى الأولى</option>
                <option value="06">جمادى الآخرة	</option>
                <option value="07">رجب</option>
                <option value="08">شعبان</option>
                <option value="09">رمضان</option>
                <option value="10">شوال</option>
                <option value="11">ذو القعدة	</option>
                <option value="12">ذو الحجة		</option>
            </select>
        </div>

    </div>
    <div class="form-group row">

        <div class="col-lg-4 d-flex flex-row">
            <span style="color:red">*</span><select class="form-control select2Class" id="AppraisalTypeCode" name="val-skill" required>
            </select>
        </div>
      
        <div class="col-lg-4 d-flex flex-row">
            <span style="color:red">*</span><select class="form-control select2Class" id="RatingCode" name="val-skill" required>
            </select>
        </div>
        <div class="col-lg-4 d-flex flex-row">
            <span style="color:red">*</span><input type="text" class="form-control" id="Result" name="val-username" placeholder="النتيجة" required>
        </div>

    </div>
    @*        <div class="form-group row">
    <div class="col-lg-3">
    <div class="btn btn-info" onclick="drawQualification()">اضافة مؤهل</div>
    </div>

    </div>
    *@



    <center class="row ">
        <input type="submit" class="btn btn-sent btn-add2" onclick="PostEmployeeAppraisal()" value="اضافة">
        @*<div class="btn btn-sent btn-add2" onclick="PostEmployeeAppraisal()">اضافة</div>*@
    </center>



</form>
@section Scripts{
    <script src="~/viewsscripts/RegisterEmployeeAppraisal.js" asp-append-version="true"></script>
}