@using System.Globalization;
@{
    ViewData["Title"] = "Home Page";
    Layout = "/Views/Shared/FromLayout.cshtml";
}
@{
    HijriCalendar hijri = new HijriCalendar();
    var year = hijri.GetYear(DateTime.Now);

}
<input type="text" id="year" value="@year" hidden />
<form class="form-valide" action="#" method="post">
    <div class="form-group row justify-content-between">
        <div class="col-lg-4 d-flex flex-row">
            <span style="color:red">*</span><select class="form-control select2Class" id="employees" name="val-skill" required>
            </select>
        </div>

        <div class="col-lg-3">
            <div class="btn btn-download btn-add1" onclick="drawQualification()">اضافة مؤهل</div>
        </div>


        @*    <div class="form-group row">
        <div class="col-lg-3">
        <input type="text" class="form-control" id="NationalID" name="val-username" placeholder="رقم الهوية الوطنية ">
        </div><label class="col-lg-3 col-form-label" for="val-username">
        رقم الهوية الوطنية    <span class="text-danger">*</span>
        </label>
        <div class="col-lg-3">
        <input type="text" class="form-control" id="IqamaNumber" name="val-username" placeholder="رقم الإقامة ">
        </div><label class="col-lg-3 col-form-label" for="val-username">
        رقم الإقامة    <span class="text-danger">*</span>
        </label>
        </div>
        *@

    </div>
    <div id="Qualification">
    </div>

    @*   <div class="form-group row">
    <div class="col-lg-3">
    <select class="form-control" id="gradday" name="val-skill">
    <option value="">اختر يوم التخرج </option>

    </select>
    </div>
    <div class="col-lg-3">
    <select class="form-control" id="gradyear" name="val-skill">
    <option value="">اختر سنة التخرج </option>

    @for (int i = 1300; i <= year; i++)
    {
    <option value="@i">  @i </option>
    }
    </select>
    </div>
    <div class="col-lg-3">
    <select class="form-control" onchange="renderDate('gradday', 'gradmonth')" id="gradmonth" name="val-skill">
    <option value=""> اختر شهر التخرج</option>
    <option value="01">محرم</option>
    <option value="02">صفر</option>
    <option value="03">ربيع الأول</option>
    <option value="04">	ربيع الآخر	</option>
    <option value="05">جمادى الأولى</option>
    <option value="06">جمادى الآخرة	</option>
    <option value="07">رجب</option>
    <option value="08">شعبان</option>
    <option value="09">رمضان</option>
    <option value="10">شوال</option>
    <option value="11">ذو القعدة	</option>
    <option value="12">ذو الحجة		</option>
    </select>
    </div>
    <label class="col-lg-3 col-form-label" for="val-username">
    تاريخ التخرج  <span class="text-danger">*</span>
    </label>
    </div>*@

    <center class="row =">
        @*<input type="submit" class="btn btn-sent btn-add2" onclick="PostEmployeeQualification()" value="اضافة">*@
        <div class=" btn btn-sent btn-add2" onclick="PostEmployeeQualification()">اضافة</div>
    </center>



</form>
@section Scripts{
    <script src="~/viewsscripts/RegisterEmployeeQualification.js" asp-append-version="true"></script>
}