@using System.Globalization;
@{
    ViewData["Title"] = "Home Page";
    Layout = "/Views/Shared/FromLayout.cshtml";
}
@{
    HijriCalendar hijri = new HijriCalendar();
    var year = hijri.GetYear(DateTime.Now);

}
<input type="text" id="year" value="@year" hidden />
<form class="form-valide" action="#" method="post">

   
    <div class="form-group row ">
        <div class="col-lg-4 d-flex flex-row">
            <span style="color:red">*</span><select class="form-control select2Class form-select " id="employees" name="val-skill" required>
            </select>
        </div>

      <div class="col-lg-4 d-flex flex-row">
            <span style="color:red">*</span><select class="form-control select2Class" id="JobClassCode" name="val-skill" required>
            </select>
        </div>

       
        <div class="col-lg-4 d-flex flex-row">
            <span style="color:red">*</span><input type="number" class="form-control" id="JobNumber" name="val-username" placeholder="رقم الوظيفة " required>
        </div>
        </div>

        <div class="row">
        <div class="col-lg-4 d-flex flex-row">
            <span style="color:red">*</span><select class="form-control select2Class" id="JobNameCode" name="val-skill" required>
            </select>
        </div>

        <div class="col-lg-4">
            <input type="number" class="form-control" id="JobCatChain" name="val-username" placeholder="رمز مسمى الفئة الوظيفية  ">
        </div>
        <div class="col-lg-4">
            <textarea class="form-control h-150px" style="height:50px" rows="4" cols="30" id="JobNameDescription" placeholder="وصف مسمى الوظيفة"></textarea>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-4 d-flex flex-row">
            <span style="color:red">*</span><select class="form-control select2Class" id="startday" name="val-skill" required>
                <option value="">اختر يوم البداية </option>
            </select>
        </div>
        <div class="col-lg-4 d-flex flex-row">
            <span style="color:red">*</span><select class="form-control select2Class" id="startyear" name="val-skill" required>
                <option value="">اختر سنة البداية </option>

                @for (int i = 1300; i <= year; i++)
                {
                    <option value="@i">  @i </option>
                }
            </select>
        </div>
        <div class="col-lg-4 d-flex flex-row">
            <span style="color:red">*</span><select class="form-control select2Class" onchange="renderDate('startday', 'startmonth')" id="startmonth" name="val-skill" required>
                <option value=""> اختر شهر البداية</option>
                <option value="01">محرم</option>
                <option value="02">صفر</option>
                <option value="03">ربيع الأول</option>
                <option value="04">	ربيع الآخر	</option>
                <option value="05">جمادى الأولى</option>
                <option value="06">جمادى الآخرة	</option>
                <option value="07">رجب</option>
                <option value="08">شعبان</option>
                <option value="09">رمضان</option>
                <option value="10">شوال</option>
                <option value="11">ذو القعدة	</option>
                <option value="12">ذو الحجة		</option>
            </select>
        </div>

    </div>
    <div class="form-group row">
        <div class="col-lg-4">
            <select class="form-control select2Class" id="endday" name="val-skill">
                <option value="">اختر يوم النهاية </option>
            </select>
        </div>
        <div class="col-lg-4">
            <select class="form-control select2Class" id="endyear" name="val-skill">
                <option value="">اختر سنة النهاية </option>

                @for (int i = 1300; i <= year; i++)
                {
                    <option value="@i">  @i </option>
                }
            </select>
        </div>
        <div class="col-lg-4">
            <select class="form-control select2Class" onchange="renderDate('endday', 'endmonth')" id="endmonth" name="val-skill">
                <option value=""> اختر شهر النهاية</option>
                <option value="01">محرم</option>
                <option value="02">صفر</option>
                <option value="03">ربيع الأول</option>
                <option value="04">	ربيع الآخر	</option>
                <option value="05">جمادى الأولى</option>
                <option value="06">جمادى الآخرة	</option>
                <option value="07">رجب</option>
                <option value="08">شعبان</option>
                <option value="09">رمضان</option>
                <option value="10">شوال</option>
                <option value="11">ذو القعدة	</option>
                <option value="12">ذو الحجة		</option>
            </select>
        </div>

    </div>

    <div class="form-group row">
        <div class="col-lg-4">
            <select class="form-control select2Class" id="Vacantday" name="val-skill">
                <option value="">اختر يوم  شغر الوظيفة </option>
            </select>
        </div>
        <div class="col-lg-4">
            <select class="form-control select2Class" id="Vacantyear" name="val-skill">
                <option value="">اختر سنة  شغر الوظيفة </option>

                @for (int i = 1300; i <= year; i++)
                {
                    <option value="@i">  @i </option>
                }
            </select>
        </div>
        <div class="col-lg-4">
            <select class="form-control select2Class" onchange="renderDate('Vacantday', 'Vacantmonth')" id="Vacantmonth" name="val-skill">
                <option value=""> اختر شهر  شغر الوظيفة</option>
                <option value="01">محرم</option>
                <option value="02">صفر</option>
                <option value="03">ربيع الأول</option>
                <option value="04">	ربيع الآخر	</option>
                <option value="05">جمادى الأولى</option>
                <option value="06">جمادى الآخرة	</option>
                <option value="07">رجب</option>
                <option value="08">شعبان</option>
                <option value="09">رمضان</option>
                <option value="10">شوال</option>
                <option value="11">ذو القعدة	</option>
                <option value="12">ذو الحجة		</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
       
        <div class="col-lg-4 d-flex flex-row">
            <span style="color:red">*</span><select class="form-control select2Class" id="PositionStatus" name="val-skill" required>
            </select>
        </div>
        <div class="col-lg-4 d-flex flex-row">
            <span style="color:red">*</span><select class="form-control select2Class" id="EmploymentTypeCode" name="val-skill" required>
            </select>

        </div>

        <div class="col-lg-4 d-flex flex-row">
            <span style="color:red">*</span><select class="form-control select2Class" id="RankCode" name="val-skill" required>
            </select>
        </div>
@*        <div class="col-lg-4">
            <textarea class="form-control h-150px" rows="4" cols="30" id="RankDescription" placeholder="وصف المرتبة"></textarea>
        </div>
        <div class="col-lg-4">
            <input type="number" class="form-control" id="StepID" name="val-username" placeholder="الدرجة ">
        </div>*@
        <div class="col-lg-6 d-flex flex-row">
            <span style="color:red">*</span><input type="number" class="form-control" id="PositionOrganizationID" name="val-username" placeholder="رمز الإدارة التي تتبعها الوظيفة" required>
        </div>
        <div class="col-lg-6 d-flex flex-row">
            <span style="color:red">*</span><textarea class="form-control h-150px" rows="4" cols="30" id="PositionOrganizationName" placeholder="وصف الإدارة التي تتبعها الوظيفة" required></textarea>
        </div>
        @*   <div class="col-lg-9">
        <select class="form-control select2Class" id="JobTransactionCode" name="val-skill">
        </select>
        </div><label class="col-lg-3 col-form-label" for="val-username">
        رمز الإجراء الوظيفي   <span class="text-danger">*</span>
        </label>*@
    </div>

   
    <div class="form-group row">
        <div class="col-lg-6">
            <select class="form-control select2Class" id="TransactionCode" name="val-skill">
            </select>
        </div>
        <div class="col-lg-6">
            <textarea class="form-control h-150px" rows="4" cols="30" id="TransactionDescription" placeholder="وصف الإجراء الوظيفي"></textarea>
        </div>
    </div>
   

    @*        <div class="form-group row">
    <div class="col-lg-3">
    <div class="btn btn-info" onclick="drawQualification()">اضافة مؤهل</div>
    </div>

    </div>
    *@



    <center class="row justify-content-start">
        <input type="submit" class="btn btn-sent btn-add2" onclick="PostJob()" value="اضافة">
        @*<div class="btn btn-sent btn-add2" onclick="PostJob()">اضافة</div>*@
    </center>
</form>
@section Scripts{
    <script src="~/viewsscripts/RegisterJob.js" asp-append-version="true"></script>
}